
.dropNintendo{
    position: relative;
    padding: 0.75rem;
}

.dropdownstore{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0px;
    transition: all 200ms ease-in-out 0s;
}

.dropdownholiday{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0px;
    transition: all 200ms ease-in-out 0s;
}

.dropdowngames{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0px;
    transition: all 200ms ease-in-out 0s;
}
.dropdownswitch{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0px;
    transition: all 200ms ease-in-out 0s;
}

.dropdownnews{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0px;
    transition: all 200ms ease-in-out 0s;
}

.dropdownplay{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0px;
    transition: all 200ms ease-in-out 0s;
}



 */
